@import "styles/breakpoints";

.blueContainer {
    background-color: var(--color-primary);
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;

    & p {
        color: var(--color-white);
        cursor: pointer;
    }

    @include size-tablet {
        display: none;
    }
}

.blueContainerMobile {
    display: none;
    @include size-tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }
}

.whiteContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

    & p {
        font-size: 16px;
        font-weight: 700;
    }

    @include size-tablet {
        display: none;
    }
}

.profile {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo {
        display: flex;
        flex-direction: column;
        gap: 5px;
}

.circle {
    background-color: var(--color-primary);
    border: none;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 700;
}

.modalContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.modalLogos {
    display: flex;
    flex-direction: column;
}

.whiteContainerMobile {
    display: none;

    @include size-tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }
}

.sidebarContainer {
    margin-top: 40px;
}


