@import "styles/breakpoints";

.container {
  margin-top: 20px;
}

.image {
  width: 30vw;
  height: 300px;
  border-radius: 10px;

  @include size-tablet {
    width: 75vw;
    height: 200px;
  }
}

.task {
  color: #0d0d0d;
  font-size: 28px;
  font-weight: 600;
}

.cards {
  display: flex;
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 40px;

  @include size-tablet {
    justify-content: space-evenly;
  }
}

.translationCard {
  border: solid #bcbbbb 1px;
  width: fit-content;
  padding: 10px;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
}

.btnContainer {
  width: 300px;
}

.moreButton {
  margin-top: -10px;
}

.bottomContainer {
  margin-bottom: 50px;
}

.right {
  background-color: var(--color-green);
}
