// .image {
//   border-radius: 12px;
//   width: 100%;
//   height: 170px;
// }

.image {
  width: 100%; /* Ensures the image takes up the full width of its container */
  height: 170px; /* Keeps the aspect ratio intact */
  object-fit: cover; /* Ensures the image fills the space without distortion */
  border-radius: 10px; /* Optional: add a rounded effect to match the card design */
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.nameContainer {
  height: 50px;
  border-bottom: solid #ffffff 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.descriptionContainer {
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  height: 80px;
}

.opinionContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.scoreContainer {
  display: flex;
  gap: 2px;
  align-items: center;
}

.goToOpinionsLink {
  cursor: pointer;
  font-weight: 600;

  &:hover {
    border-bottom: solid #ffffff 1px;
  }
}

.bookBtn {
  margin-top: 30px;
}
