.card {
    background-color: var(--color-primary);
    width: 250px;
    border-radius: 20px;
    height: 500px;
    color: white;
    font-size: 18px;
    text-align: center;
}

.image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}