@import "styles/breakpoints";

.container {
    display: flex;
    gap: 10px;
}

.navContainer {
    @include size-tablet {
        display: none;
    }
}

.mainSectionContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}