@import "styles/breakpoints";

.top {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

    @include size-tablet {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

.lessonsStatus {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 600;
    cursor: pointer;

    p {
        color: white;
        text-align: center;
    }
}

.chooseTeacherBtn {
    width: 280px;
    height: 40px;
    font-size: 18px;

    @include size-tablet {
        width: 230px;
        gap: 20px;
    }
}

.image {
    width: 300px;
    height: 350px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.bottom {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;

    @include size-tablet {
        flex-direction: column;
        align-items: center;
    }
}