@import "styles/breakpoints";

.wrapper {
    width: 491px;
    height: 356px;
    border-radius: 12px;

    @include size-tablet {
        width: 80vw;
        height: 270px;
    }
}

.top {
    @include size-tablet {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-top: 10px;
    }
}

.topic {
    font-weight: 800;
}

.task {
     font-weight: 600;

     @include size-tablet {
        font-weight: 400;
    }
}

.questionText {
    font-weight: 600;
}

.questions {
   background-color: var(--color-light-blue-2);
   margin-right: 30px;
   padding-top: 20px;
   padding-left: 30px;
   padding-bottom: 30px;
   height: 200px;
   width: 460px;
   margin-bottom: 70px;

   @include size-tablet {
    width: 75vw;
    justify-content: center;
    padding-left: 15px;
}
}

.answerContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.rectangle {
    width: 20px;
    height: 20px;
    border: solid var(--color-dark-grey) 1px;
    cursor: pointer;
    position: relative;
}

.tick {
    position: absolute;
}

.questionContainer {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
    padding-right: 350px;    
    margin-bottom: 50px;
    margin-top: -30px;

    @include size-tablet {
        width: 80vw;
        justify-content: center;
    }
}

.nextButton {
    color: var(--color-primary);
    border: solid var(--color-primary) 1px;
    border-radius: 40px;
}

.nonClickable {
    pointer-events: none;
}