.draggable {
    border: solid grey 1px;
    margin-left: 20px;
    margin-top: 20px;
}

.dropTarget {
    border: solid grey 1px;
    width: fit-content;
    margin-top: 100px;
    margin-left: 20px;
}