.lessonsListContainer {
    // width: 300px;
    border: solid var(--color-grey) 1px;
    height: 80vh;
    overflow: auto;
}

/* Styling for vertical scrollbar */
.lessonsListContainer::-webkit-scrollbar {
    width: 25px; /* Set the width of the scrollbar */
  }
  
  .lessonsListContainer::-webkit-scrollbar-track {
    background-color: var(color-white); /* Set the background color of the track */
  }
  
  .lessonsListContainer::-webkit-scrollbar-thumb {
    background-color: #EFEFEF; /* Set the color of the thumb (the draggable part of the scrollbar) */
  }

.title {
    height: 50px;
    display: flex;
    align-items: center;
    font-weight: 600;
    border: solid var(--color-grey) 1px;
    padding-left: 20px;
    cursor: pointer;
    background-color: var(--color-light-grey);
}

.chapter {
    height: 50px;
    display: flex;
    align-items: center;
    font-weight: 600;
    border: solid var(--color-grey) 1px;
    padding-left: 20px;
    cursor: pointer;
}

.current {
    background-color: var(--color-green);
}

.currentChapter {
    background-color: var(--color-light-blue);
}