.button {
    cursor: pointer;
    transition: all .25s ease-in-out;
}

.contained {
    border: none;
}

.outlined {
    background-color: transparent;
}

.yellow {
    background-color: var(--color-yellow);
}