.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  gap: 20px;
}

.opinionBtn {
  width: 170px;
}

.image {
  width: 100%; /* Ensures the image takes up the full width of its container */
  height: 170px; /* Keeps the aspect ratio intact */
  object-fit: cover; /* Ensures the image fills the space without distortion */
  border-radius: 10px; /* Optional: add a rounded effect to match the card design */
}

.nameContainer {
  border-bottom: solid #ffffff 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding-bottom: 20px;
}

.dateTimeBlock {
  display: flex;
  justify-content: space-between;
}

.withIconBlock {
  display: flex;
  align-items: center;
  gap: 5px;
}

.btnContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
