.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 30%;
}

.monthBlock {
  margin-top: 10px;
  border: solid blue 1px;
  border-radius: 5px;
  padding: 5px;
}
