.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  margin-bottom: 20px;
  background-color: var(--color-primary);
  color: white;
  height: 100px;

  & a {
    cursor: pointer;
  }
}
