.teacherData {
  margin: 20px;
}

.teacherAccount {
  margin: 20px;
}

.compensations {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.compensationsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feedbacks {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.updateFeeBlock {
  margin: 20px;
}
