@import "styles/breakpoints";

.top {
    display: flex;
}

.navContainer {
    @include size-tablet {
        display: none;
    }
}

.mainSectionContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include size-tablet {
        gap: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.rightBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
}