@import "styles/breakpoints";

.container {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: space-between;

    @include size-tablet {
        justify-content: space-between;
        gap: 30px;
    }
}

.dialogue {
    @include size-tablet {
        height: 140vh;
    }
}

.top {
    display: flex;
}

.navContainer {
    @include size-tablet {
        display: none;
    }
}

.mainSectionContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include size-tablet {
        gap: 0;
    }
}