@import "styles/breakpoints";

.advantage {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100px;

    @include size-phone-large {
        color: var(--color-primary);
        width: 300px;
        height: auto;
     }
}

.text {
    width: 186px;
    font-size: 1.25em;
    font-weight: bold;

    @include size-phone-large {
        color: var(--color-primary);
        width: fit-content;
     }
}