.card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--color-white);
    width: 15.8125em;
    height: 16.5em;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.text {
    font-size: 1.25em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}