@import "styles/breakpoints";

.noShow {
    display: none;
   
    @include size-tablet {
        display: none;
    }
}

.modalContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalLogos {
    display: flex;
    flex-direction: column;
}

.serviceModal {
    display: flex;
    // border: solid red 1px;
    align-items: center;
    font-weight: bold;
    gap: 10px;
    cursor: pointer;
    margin-top: 40px;
}

.modalButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 300px;
    margin-bottom: 20px;
}

.header {
    // border: solid red 1px;
    background-color: var(--color-primary);
    // padding: $header-padding-vertical $header-padding-horizontal;
    padding: 2em 3.75em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-bottom: 0;
    // width: 200vw;
    @include size-tablet {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.logo {
    @include size-tablet {
        width: 80px;
    }
}

.topButtons {
    display: flex;
    // border: solid red 1px;
    width: fit-content;
    margin-bottom: 0.3125em;
    gap: 3em;
    align-items: center;
    justify-content: flex-start;

    @include size-tablet {
        display: none;
    }
}

.sandwich {
    display: none;

    @include size-tablet {
        display: flex;
    }
}

.registrationBtn {
    color: var(--color-white);
    width: 12.75em;
    height: 3em;
    font-size: 1.25em;
    border-radius: 40px;
    border: solid 1px var(--color-white);
}

.enterBtn {
    color: var(--color-white);
    cursor: pointer;
    font-size: 1.25em;
}

.main {
    background-color: var(--color-primary);
    // margin-top: 0;
    padding: 3.125em 12.5em 9.375em 12.5em;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include size-tablet {
        padding: 20px 0 0 0;
    }
}

.mainHeading {
    // border: solid red 1px;
    width: fit-content;
    font-size: 3.75em;
    color: var(--color-white);
    text-align: center;

    @include size-tablet {
        font-size: 2em;
        font-weight: normal;
        // border: solid red 1px;
        width: 300px;
        text-align: center;
    }
}

.headerBottomBlock {
    display: flex;
    width: 90vw;
    justify-content: space-between;

    @include size-tablet {
        flex-direction: column;
        padding-bottom: 70px;
     }
    
}

.dropOne {
    margin-top: 5em;

    @include size-tablet {
       display: none;
    }

}

.dropTwo {
    margin-top: 7.5em;

    @include size-tablet {
        display: none;
     }
}

.btnBlock {
    // border: solid red 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.startBtn {
    width: 16.25em;
    height: 3.75em;
    font-size: 1.125em;
    background-color: var(--color-yellow);
    border-radius: 40px;
    color: var(--color-black);
    font-weight: bold;
    margin-bottom: 0.9375em;
    margin-top: 1.25em;

    @include size-tablet {
        width: 200px;
     }
}

.haveAccountBtn {
    font-size: 1.125em;
    text-decoration: underline;
    text-underline-offset: 0.5em;
    color: var(--color-white);
    cursor: pointer;
}

.advantages {
    padding-top: 3.125em;
    padding-bottom: 3.125em;
    display: flex;
    justify-content: center;
    gap: 30px;

    @include size-tablet {
        flex-direction: column;
        align-items: center;
     }
}

.imageContainer {
    position: relative;
    width: 600px;
    height: 400px;

    @include size-tablet {
        width: auto;
        height: auto;
        display: flex;
        gap: 20px;
     }
}

.laptop, 
.cards {
    position: absolute;

    @include size-tablet {
        position: static;
     }
}

.cards {
    z-index: 2;

    @include size-tablet {
        display: none;
     }
}

.cardsMobile {
    display: none;

    @include size-tablet {
        display: block;
        padding-top: 50px;
     }

}

.laptop {
    z-index: 1;
    left: 6.25em;
    top: 2.5em;

    @include size-tablet {
        width: 200px;
        left: 0;
        top: 0;
     }
}

.middleSection {
    display: flex;
    justify-content: center;
    gap: 6.25em;
    padding-top: 4.375em;

    @include size-tablet {
        flex-direction: column;
        align-items: center;
        font-size: 1.125em;
        gap: 0;
     }
}

.leftSideOfMiddleSection {
    // border: solid red 1px;
}

.leftSideText {
    // border: solid red 1px;
    width: 18.75em;
    font-weight: bold;

    @include size-tablet {
        margin-bottom: 0;
     }
}

.logoTwo {
    margin-left: -4.375em;

    @include size-tablet {
        margin: 0;
     }
}

.advantagesHeadingContainer {
    display: flex;
    justify-content: center;
    
    @include size-tablet {
        margin-top: 50px;
     }
}

.advantagesMain {
    background-color: var(--color-light-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;

    @include size-tablet {
        // border: solid red 1px;
        background-color: var(--color-white);
     }
}

.advantageCards {
    display: flex;
    justify-content: center;
    gap: 3.125em;
    padding-top: 3.125em;
    padding-bottom: 3.125em;

    @include size-tablet {
        flex-direction: column;
     }
}

.tryButton {
    background-color: var(--color-yellow);
    font-size: 1em;
    width: 14.1875em;
    height: 3.1875em;
    border-radius: 40px;
    margin-bottom: 3.125em;
    font-weight: bold;

    @include size-tablet {
        margin-bottom: 10px;
     }
}

.howHeading {
    display: flex;
    justify-content: center;
    margin-top: 6.25em;

    @include size-tablet {
        margin-top: 0;
     }
}

.manSection {
    display: flex;
    // border: solid red 1px;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
}

.man {
    margin-top: -3.125em;

    @include size-tablet {
        display: none;
     }
}

.twoThreeSection {
    display: flex;
    gap: 3.75em;
    justify-content: center;

    @include size-tablet {
        flex-direction: column;
        align-items: center;
      }
}

.howWorks {
    padding-bottom: 6.25em;

    @include size-tablet {
       display: flex;
       flex-direction: column;
     }
}

.howcardTwo {
    margin-top: 4.375em;
}

.questionsHeading {
    display: flex;
    justify-content: center;

    @include size-tablet {
        // border: solid red 1px;
        width: 300px;
        text-align: center;
      }
}

.frequentQuestionsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8.125em;
}

.questionsContainer {
    // border: solid red 1px;
    width: 71.9375em;
    padding-left: 20px;
    padding-right: 20px;

    @include size-tablet {
        width: 90vw;
        padding-left: 20px;
        padding-right: 20px;
      }
}

.questionBlock {
     border-bottom: solid var(--color-dark-grey) 1px;
}

.question {
    font-size: 1.25em;
    font-weight: bold;
}

.questionWithPlus {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.answer {
    font-weight: bold;
}

.questionButton {
    cursor: pointer;
}

.footer {
    height: 13.875em;
    background-color: var(--color-primary);

    @include size-tablet {
        height: auto;
        padding-bottom: 30px;
      }
}

.footerTop {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3.125em;

    @include size-tablet {
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
}

.service {
    display: flex;
    // align-items: center;
    justify-content: center;
    gap: 0.625em;
    & p {
        color: var(--color-white);
        margin-top: 0;
        cursor: pointer;
    }
}

.up {
    cursor: pointer;
}

.profileLink {
    font-weight: bold;
    cursor: pointer;
}

.footerBottom {
    // border: solid red 1px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    // gap: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    color: white;
    cursor: pointer;

    & p {
        margin: 0;
    }

    @include size-tablet {
        margin-top: 20px;
        gap: 10px;
      }
}
