.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
//   align-items: center;
//   justify-content: center;
}

.modal {
    background-color: #fff;
    padding: 20px;
    // border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 3700px;
    width: 350px;
  }