@import "styles/breakpoints";

.advantage {
    width: fit-content;
    display: flex;
    gap: 20px;

    @include size-phone-large {
        color: var(--color-primary);
        width: 300px;
    }
}

.text {
    width: 186px;
    font-size: 1.25em;
    font-weight: bold;

    @include size-phone-large {
        color: var(--color-primary);
        width: fit-content;
    }
}