.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    opacity: 0;
    pointer-events: none; // Prevent interactions with the modal when it's not visible
    transition: opacity 0.7s ease;
}

.modal {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 3700px;
    width: 270px;
    z-index: 101;
    opacity: 0;
    pointer-events: none; // Prevent interactions with the modal when it's not visible
    transition: opacity 0.7s ease;
  }

  .visible {
    opacity: 1;
    pointer-events: auto; // Allow interactions with the modal when it's visible
  }