@import "styles/breakpoints";

.container {
  display: flex;
  flex-direction: column;
  padding-left: 48px;
  //   align-items: center;
  justify-content: center;
  gap: 10px;

  @include size-tablet {
    padding-left: 0;
  }
}

.internalLayout {
  //   margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;

  & p {
    margin: 0;
  }

  @include size-tablet {
    width: 80vw;
    height: 60vh;
    padding: 20px;
  }
}

.h1 {
  color: #0d0d0d;
  font-weight: 600;
  font-size: 28px;
  margin: 0;

  @include size-tablet {
    margin-left: 0;
    text-align: center;
  }
}

.image {
  width: 320px;
  @include size-tablet {
    width: 300px;
  }
}

.en {
  color: #0d0d0d;
  font-weight: 500;
}

.ru {
  color: #777676;
  font-weight: 500;
}

.audioContainer {
  width: 90%;
  margin-top: 20px;
}
