@import "styles/breakpoints";

.button {
   cursor: pointer;
   transition: all .25s ease-in-out;
}

.contained {
   border: none;
}

.outlined {
   background-color: transparent;
}

.yellow {
   background-color: var(--color-yellow);
}

.standardLargeContained {
   width: 259px;
   height: 51px;
   background-color: var(--color-primary);
   color: var(--color-white);
   font-size: 18px;
   border-radius: 10px;
   border: none;
}

.standardLargeOutlined {
   width: 259px;
   height: 51px;
   background-color: transparent;
   color: var(--color-primary);
   font-size: 18px;
   border-radius: 10px;
   border: solid var(--color-primary) 1px;
}

.standardMiddleOutlined {
   width: 200px;
   height: 51px;
   background-color: transparent;
   color: var(--color-primary);
   font-size: 16px;
   border-radius: 40px;
   border: solid var(--color-primary) 1px;
}

.standardAuthOutlined {
   width: 130px;
   height: 40px;
   background-color: transparent;
   color: var(--color-black);
   font-size: 16px;
   border-radius: 10px;
   border: solid var(--color-dark-grey) 1px;
}

.standardNextOutlined {
   width: 130px;
   height: 40px;
   background-color: transparent;
   color: var(--color-primary);
   font-size: 16px;
   border-radius: 40px;
   border: solid var(--color-primary) 1px;
}

.newStandardNextOutlined {
   width: 130px;
   height: 40px;
   background-color: transparent;
   color: var(--color-primary);
   font-size: 16px;
   font-weight: bold;
   border: solid var(--color-grey) 1px;
   border-radius: 40px;
   box-shadow: 1px 2px 2px 0px var(--color-grey);
}

.standardNextContained {
   width: 200px;
   height: 51px;
   background-color: var(--color-primary);
   color: var(--color-white);
   font-size: 16px;
   border-radius: 40px;
   border: none;
}

.newStandardNextContained {
   width: 130px;
   height: 40px;
   background-color: var(--color-primary);
   color: var(--color-white);
   font-size: 16px;
   font-weight: bold;
   border: solid var(--color-grey) 1px;
   border-radius: 40px;
   box-shadow: 1px 2px 2px 0px var(--color-grey);
}

.authLargeContained {
   width: 305px;
   height: 45px;
   background-color: var(--color-primary);
   color: var(--color-white);
   font-size: 16px;
   border-radius: 12px;
   border: none;

   @include size-laptop {
      width: 255px;
      height: 40px;
   }
}

.google {
   width: 305px;
   height: 45px;
   background-color: transparent;
   border-radius: 12px;
   border: solid var(--color-grey-100) 1px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-left: 20px;
   gap: 20px;
   color: var(--color-dark-grey);
   font-size: 16px;

   @include size-laptop {
      width: 255px;
      height: 40px;
   }
}

.menu {
   width: 110px;
   height: 30px;
   background-color: var(--color-primary);
   border: none;
   color: var(--color-white);
   font-size: 16px;
   font-weight: bold;
   border-radius: 20px;
   margin-top: 10px;
}

.teachers {
   background-color: var(--color-primary);
   color: var(--color-white);
   border-radius: 5px;
   border: none;
   box-shadow: 1px 2px 2px 0px var(--color-grey);
}

.teachersBook {
   background-color: var(--color-primary);
   width: 200px;
   height: 40px;
   color: white;
   border: none;
   border-radius: 15px;
   font-size: 18px;
}