.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.compensationContainer {
  border: solid var(--color-primary) 1px;
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
}
