@import "styles/breakpoints";

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;

  @include size-tablet {
    margin-top: 30px;
  }
}

.weekBtn {
  height: 40px;
  width: 170px;
  font-size: 14px;
  font-weight: 600;
  border-width: 2px;
}

.notActualWeekBtn {
  color: #777676;
  border-color: #777676;
}

.lessonsContainer {
  display: flex;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;

  @include size-tablet {
    flex-direction: column;
    width: 100%;
    flex-wrap: nowrap;
  }
}
