@import "styles/breakpoints";

.resultsContainer {
    height: 85vh;
    display: flex;
    justify-content: center;
}

.imageBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  & p {
    margin: 0;
  }
}

.level {
    color: var(--color-primary);
    font-weight: bold;
}

